body{
    background-color:rgba(44, 120, 207, 0.692) !important;
}
h1 {
    color:white;
    text-align: center;
}
p {
    text-align: center;
    text-decoration:underline;
    color:yellow;
    font-size: 20px;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* width: 10%; */
}
audio {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* width: 10%; */
}
button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#navigation {
    position: absolute;
    width: 210px;
    height: 600px;
    margin: 0;
    margin-top: 50px;
    border-right: 1px solid #C6EC8C;
    font-weight: normal;
 }