<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Honors Java</title>
    <link rel="stylesheet" type="text/css" href="static/uhl-style.css">
</head>
<body>
    <div class="header">
        <h2>Honors Computer Science</h2>
        <p>A Resource For Learning Java</p>
    </div>
   
    <!--Navigation bar-->
    <div id="nav-placeholder"></div>
    <script src="//code.jquery.com/jquery.min.js"></script>
    <script>
        $.get("static/navbar.html", function(data){
            $("#nav-placeholder").replaceWith(data);
        });
    </script>
    <!--end of Navigation bar-->
    
        
</body>
</html>