<!DOCTYPE html>
<html>
<head>
    <link type="text/css" rel="stylesheet" href="static/styles.css">
</head>
<body>
    <a href="/page2">Go to page 2</a>
    <a href="/snake">Play Snake</a>
    <br/>
    <h1>Hello There!</h1>
    <br/>
    <img alt="Avatar image" class="img-circle" src="https://code.sololearn.com/Icons/Avatars/0.jpg">
    <br/>
    <br/>
    <button onClick="javascript:alert('First Page Button Using Internal Javascript!')">Test Event</button>

    <p><iframe src="https://pascack.instructure.com/courses/3801/files/578292/download" width="500" height="500" data-api-endpoint="https://pascack.instructure.com/api/v1/courses/3801/files/578292" data-api-returntype="File"></iframe></p>
</body>
</html>