<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mover Game</title>
    <link rel="shortcut icon" href="#" />
    <link type="text/css" rel="stylesheet" href="static/game.css">
</head>
<body>
    <a href="/">Go Home</a>
    
    <h1>Avoid The Enemy Squares!</h1>
    
    <canvas id="testCanvas" width="600px" height="500px" style="border:1px solid #000000;"></canvas>
    <script type="text/javascript" src="static/moverGame.js"></script>
    <script>
        canvas = document.getElementById("testCanvas");
        runGame(canvas);
    
    </script>
</body>
</html>